#main{
    display: flex; 
 
     flex-wrap: wrap;
    gap: 10px;
     justify-content: space-evenly;
     margin-top: 25px;
     background-color: gray;
    
    
    

}
#main img{
    width: 250px;
    height: 200px;
    padding: 10px;
}
#img{
    border: 1px solid black;
    background-color: white ;
}